.heading
{
    width: 100%;
    text-align: left;
}
.heading h3
{
    display: inline;
}
.heading button
{
    float: right;
    border: 1px solid black;
}
.big_image
{
    width: 100%;
}
#start,#status
{
    font-size: 25px;
}
.modal-dialog
{
    width: 80%;
}
.Instruction-image
{
    width: 40%
}
video
{
    background: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 25px;
}
h4
{
    background-color:white;
    margin: 0px;
    line-height: 2;
    bottom: 0;
}